<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>mongo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>cx.evermeet.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MongoDB</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>VERSION_INFO</string>
	<key>CFBundleVersion</key>
	<string>REVISION_INFO</string>
	<key>GitHash</key>
	<string>GIT_HASH_INFO</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSMainNibFile</key>
	<string>mongoPref</string>
	<key>NSPrefPaneIconFile</key>
	<string>mongoPref.tiff</string>
	<key>NSPrefPaneIconLabel</key>
	<string>MongoDB</string>
	<key>NSPrincipalClass</key>
	<string>mongoPref</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Helmut K. C. Tessarek, 2015</string>
</dict>
</plist>
